BOT_TOKEN=telegram_bot_token_here
BOT_USERNAME=your_bot_username
SESSION_SECRET=generate_with_python_secrets_token_hex_32
DOMAIN=your.domain.com
SERVER_IP=1.2.3.4
XRAY_PUBLIC_KEY=your_reality_public_key
XRAY_SHORT_ID=your_short_id
XRAY_UUID=your_uuid
XRAY_SNI=www.microsoft.com
XRAY_PORT=4443
ADMIN_TG_ID=your_telegram_id
